 
# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz

# Virtual Environment
.venv/
venv/
env/

# Django
db.sqlite3
staticfiles/
*.log

# VS Code
.vscode/

# System
.DS_Store
Thumbs.db

# Environment variables
.envdb.sqlite3
